.result_lab_4 {
  background-color: #0d0d0d;
  color: white;
  padding: 5px;
  border-bottom: 6px solid #2f2f2f;
  border-left: 6px solid #2f2f2f;
  border-right: 6px solid #2f2f2f;
  border-top: 29px solid #2f2f2f;
  height: auto;
}